{% extends "layout.html" %}


{% block title %}
    AKirylak CS50 final project: links
{% endblock %}

{% block main %}
<h1>Links to my Favorite Pages</h1>
<h4>In the ordered list below are links to my favorite websites</h4>
<p>
    <ol>
        <li><a href="http://www.buck-tick.com" onclick="linkclick()">Buck-Tick: My favorite Japanese Band</a></li>
        <li><a href="https://www.w3schools.com/">W3schools: Great Reference tool to for quick learning</a></li>
        <li><a href="https://shop.learncodethehardway.org/">Learn to Code "the hard way": Really helps you emerse yourself in understanding code/a></li>
        <li><a href="https://www.isc2.org/">CISSP: What I want to learn in 2022</a></li>
    </ol>
</p>
{% endblock %}
